doctype html
html
head
  title= title
  meta(charset="utf-8")
  meta(name='viewport', content='width=device-width, initial-scale=1.0')    
  link(rel='stylesheet', href='/_res/libs/font-awesome/css/font-awesome.min.css')
  link(rel='stylesheet', href='/_res/libs/bootstrap-4.0/css/bootstrap.min.css')
  link(rel='stylesheet', href='/_res/stylesheets/style.css')  
block vars
body(class=bodyClass)
  block content

  script(src='/_res/libs/jquery/jquery-3.2.1.min.js')
  script(src='/_res/libs/bootstrap-4.0/js/bootstrap.min.js')   
  script(src='/_res/javascripts/requestHandler.js')
  script(src='/_res/javascripts/addon.js')